
@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik');


body {
  text-align: center;
}  

nav {
  background: #ffffff;
}

#brand {
  color: #2552d8;
  font-family: 'Roboto', 'Rubik', sans-serif;
  font-weight: bold;

}

h1 {
  margin-bottom: 25px;
}

h1, h3 {
  font-family: 'Roboto', 'Rubik', sans-serif;
}

#navbarNav {
  justify-content: flex-end;
}

.jumbotron {
  width: 100%;
  
  margin-bottom: 0;
}

#helloJumbo {
    background: #ffffff;
    height:100vh;
}

#helloContent {
  padding-top: 100px;
}

#aboutJumbo {
  background: #2552d8;
  color: #ffffff;
  padding-bottom: 50px;
  height: 550px;
  /* height:100vh; */

}

.heading {
  font-size: 2.5em;
}

.about-content {
  margin-top: 70px;
}

.work {
  position: relative;
}

.work img {
  width: 300px;
  height: 200px;
  border-radius: 25px;
}

.work h3 {
  background: #2552d8;
  color: #ffffff;
  width: 300px;
  position: relative;
  margin: auto;
  bottom: 55px;
}

#portfolio {
  background: #ffffff;
  /* height:100vh; */
}

footer {
  height: 100px;
  background: #2552d8;
 
}

footer a {
  color: #ffffff;
  font-size: 2em;
}

 #email {
   font-size: 1em;
   color: #ffffff
 }
  

  
  
  