@import url("https://fonts.googleapis.com/css?family=Roboto|Rubik");

html {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#firstView {
  height: 100vh;
  /* position: relative; */
}

#navbar {
  position: sticky;
  top: 0px;
  z-index: 2;
}

#brand {
  text-shadow: 1px 1px 1px black, 2px 2px 2px black, 3px 3px 3px black;
}

.main {
  height: 100%;
  background: -webkit-linear-gradient(
      top,
      rgba(155, 0, 0, 0),
      rgba(0, 0, 0, 0.2)
    ),
    url("../images/pexels-photo-943096.jpeg") no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#greeting {
  /* position: relative; */
  /* height: 100%; */
  display: flex;
  justify-content: center;
  padding-top: 10%;
  /* filter: blur(2px); */
  /* -webkit-filter: blur(2px); */
  /* transform: scale(1.1); */
}

#greetingContent {
  /* top: 50%; */
  text-align: center;
  text-shadow: black 2px 2px 2px;
}

.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  /* display: block; */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* z-index: 2; */
  width: 75%;
  padding: 20px;
  text-align: center;
}

#hello {
  margin: 20px;
}

.big-text {
  font-size: 2.5em;
}

#more {
  position: absolute;
  /* padding-top: 10%; */
  display: flex;
  justify-content: center;
  /* top: 100px; */
  bottom: 10px;
  left: 50%;
  right: 50%;
  opacity: 0.4;
  text-shadow: 1.5px 1.5px 1.5px black;
}

/* About Section */
#aboutSection {
  /* position: relative; */
  /* top: 20px; */
  padding: 10% 0;
  text-align: center;
}

#aboutLabel {
  text-shadow: 1px 1px 1px black, 2px 2px 2px black, 3px 3px 3px black;
}

.about-content {
  border: 3px solid #f1f1f1;
  text-shadow: 1px 1px 1px black;
  margin: 0;
}

.portfolio-section {
  padding: 70px 0;
}

#portfolioLabel {
  margin: 0;
  padding: 50px 0;
  text-shadow: 1px 1px 1px red, 2px 2px 2px black, 3px 3px 3px red;
  text-align: center;
}

.portfolio-content {
  border: 3px solid #f1f1f1;
}

.work {
  margin: 20px;
}

/* laptops */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  #brand {
    padding-left: 15px;
  }
}

/* iphone */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  #hello {
    font-size: 2em;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #greeting {
    padding-top: 30%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #firstView {
    height: 800px;
  }
}
